* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
}

header {
    background-color: rgb(59, 59, 59);
    color: white;
    margin: 0%;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    border-color: black;
}

header h1 {
    padding-left: 40px;
}

.logo {
    font-size: x-large;
    color: white;
    padding-left: 5vh;
    text-decoration: none;

}

.sign-in {
    float: right;
}

nav {
    background-color: rgb(95, 159, 255);
    overflow: hidden;
}

nav a {
    float: left;
    font-size: 1.5vh;
    text-decoration: none;
    text-align: center;
    padding:  14px 16px;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background-color: rgb(59, 59, 59);
}

nav a.active {
    background-color: rgb(59, 59, 59);
}

.section1 {
    background-color: bisque;
    margin: 0.5% 0.5% 0.5% 0.5%;
    padding: 1%;
}

footer {
    background-color: rgb(59, 59, 59);
    color: white;
    margin: 0%;
    padding: 0%;
}

h1 {
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}

h2 {
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}

h6 {
    font-size: 30px;
    margin: 0%;
    padding: 0%;
}

p {
    margin: 0%;
    padding: 0%;
}

/* ================================ login CSS =================================*/

.login-body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;
}

.login-section {
    height: 90vh;
    background-image: url(img/Ancient-Greece.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-position: center;
    color: white;
    
}

.login-div {
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, -50%);
    width: 35vh;
    padding: 2vh;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(95, 159, 255, 0.185);
    border-style: solid;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0.329);
}

.login-header {
    text-align: center;
    font-size: large;
    font-weight: normal;
}

.login-div label {
    width: 25%;
    margin-top: 6px;
}

.login-div input {
    padding: 3px 0;
    border-color: transparent;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    width: 50%;
    display: block;
    margin: 5% auto 5% auto;
}

/* .login-div input:focus::placeholder {} */

@keyframes login-fade {
    from {width: 50%;}
    to {width: 70%;}
}

.login-div input:focus {
    width: 70%;
    animation: login-fade 0.5s both;
}

.login-div button {
   width: 15vh;
   color: #000;
   margin:0 auto;
   margin-bottom: 5px;
   display: block;
   top: 50%;
   background-color: white;
   border: 1px solid transparent;
   border-radius: 3px;
   padding: 2px;
}

.login-div button:hover {
    background-color: rgb(226, 226, 226);
}

/* ================================================================= */

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
}